* {
  font-size: 9px;
  min-height: 10px;   
  color: #ffffff;
}

#waybar {
  background-color: #050505;
  border: none;
}

.module {
  padding: 0 10px;
  border-radius: 0;
}

#workspaces button {
    min-width: 0;
    margin: 0 2px;      
    padding: 0 6px;     
    border: none;
    border-radius: 0;
    background: transparent;
}
